*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color:blanchedalmond
}
.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    background-color: aqua;
    width: 100vw;
    height: 20vh;
    padding: 0 20px;               
}

#logo {
    width: 500px;
    height: auto;
}

#claro {
    width: 200px;
    height: auto;
    margin-left: auto; 
}