/* Reset padrão */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    width: 100vw;
    height: 20vh;
    padding: 0 20px;
}

#logo {
    width: 500px;
    height: auto;
}

#claro {
    width: 200px;
    height: auto;
    margin-left: auto;
}

.tarefas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.box-tarefas {
    background-color: aqua;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
}

#adicionar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#caixa-escrever {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#botao-adicionar {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

#titulo {
    font-size: 70px;
    color: rgb(255, 158, 255);
    text-shadow: -2px 2px 4px black;
}

#subtitulo {
    font-size: 20px;
    color: black;
}

#pink {
    color: pink;
}

/* Estilos para tarefas */
ul {
    list-style-type: none;
    padding: 0;
}

li.tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
}

li.tarefa span {
    display: inline-block;
    max-width: calc(23ch);
    word-break: break-word;
    text-align: center;
    margin-right: auto;
}

div.botoes {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espaçamento entre os botões */
}

div.botoes button {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: #ff72e0;
    color: white;
    cursor: pointer;
    text-align: center;
}

div.botoes button:hover {
    background-color: #ff71ff;
}

.checkbox-tarefa {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.checkbox-tarefa:checked {
    background-color: #fd76ff;
    border-color: #fa95ff;
}

/* Estilo para tarefas concluídas */
li.completed span {
    text-decoration: line-through;
    color: gray;
}

li.completed {
    background-color: #d3ffd3;
}
